<md-sidenav id="sidebar" class="md-sidenav-right" md-component-id="right" >
  <md-toolbar class="md-theme-indigo md-hue-3">
    <md-button ui-sref="homeWithMap" ng-click="toggleRight()">
      Home
    </md-button>
    <md-button id="createloc" ui-sref="locations" ng-click="toggleRight()">
      Location
    </md-button>
    <md-button ui-sref="presentation" ng-click="toggleRight()">
      VcA
    </md-button>
    <md-button ui-sref="feedback" ng-click="toggleRight()" >
      Feedback
    </md-button>
    <md-button ui-sref="logout" ng-click="toggleRight()" >
      Logout
    </md-button>
  </md-toolbar>
</md-sidenav>