<div ng-controller="mapController">
	<div>
	<div>	
 	<input id="searchBox" places-auto-complete types="['establishment', 'geocode']" on-place-changed="placeMarker()" placeholder = "Search Box" component-restrictions="{country: ['de', 'ch', 'at']}"  radius="1000"/> 
	</div>
	
	<div>
	<form>
		  <input type="image" class="icon burgermenu" src="sources/img/BurgerMenu.png" ng-click="toggleRight()">
	</form>
	</div>
	
	<div layout="row" class="categoriesonmap">
      <md-input-container>
        <label>SELECT CATEGORIES</label>
        	
        <md-select ng-model="selectedCategories"
                   md-on-close="clearSearchTerm()"
                   data-md-container-class="selectdemoSelectHeader"
                   class="elevatedSelect"
                   multiple>
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm"
                   type="search"
                   placeholder="Search for a category.."
                   class="demo-header-searchbox md-text">
          </md-select-header>
          <md-optgroup label="categories">       
            <md-option ng-value="category" ng-repeat="category in categories |
              filter:searchTerm" ng-click="filterChanged(category)">{{category}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
    </div>

<!--    <ng-map id="map" default-style="false" fullscreen-control="false" map-type-control="false" center="[{{latitude}}, {{longitude}}]" zoom="{{zoomLevel}}" on-dragend="dragEnd()" on-center_changed="centerChange()">-->
    <ng-map id="map" default-style="false" fullscreen-control="false" map-type-control="false" center="[{{latitude}}, {{longitude}}]" zoom="{{zoomLevel}}" on-dragend="dragEnd()" on-idle="centerChange()">

          <info-window id="myInfoWindow" position="current-location">
        	<div ng-non-bindable>
            <h4>{{selectedLocation.NAME}}</h4>
        	<span>{{selectedLocation.STREET}}</span>,
        	<span>{{selectedLocation.CITY}}</span>
            </div>
        </info-window>
    </ng-map>
    
    <div>	
    <form>
		  <input type="image" class="icon position" src="sources/img/Position.png" ng-click="position2()">
	</form>
	</div>
    </div>